.hover{
  width: 330px;
  height: 220px;
  width: 97%;
  border: 1px solid rgb(53, 50, 50);
  overflow: hidden;
  border-radius: 5px;
  object-fit: cover;
  text-align: center;
  margin-bottom: 7px;
}

.hover img {
  width: 330px;
  height: 225px;
  border-radius: 2%;
  object-fit: cover;
  transition: transform 500ms;
  border: 1px solid rgb(53,50,50);
}

.hover img:hover{
  transform: scale(1.1);
}

.hover p {
  color: white;
  font-size: 17px;
  z-index: 10;
  position: absolute;
  width: 320px;
  margin-top: 95px;
  letter-spacing: 1px;
  padding-bottom: 2px;
  background-color: #00000073;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.page-container {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
}


.games {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.games-dropdown {
  display: inline-block;
  position: relative;
}

.drop-down {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: right;
}

select {
  border: 1px solid rgb(53, 50, 50);
  border-radius: 3%;
  background-color: rgb(27, 25, 25);
  width: 200px;
}

.collect {
  color:rgb(190, 190, 190);
  margin-top: 20px;
  font-size: 27px;
  margin-left: 30px;
  font-weight: 600;
}